[submodule "fasthep"]
	path = fasthep
	url = git@github.com:FAST-HEP/fasthep.git
[submodule "fasthep-flow"]
	path = flow
	url = git@github.com:FAST-HEP/fasthep-flow.git
[submodule "fasthep-carpenter"]
	path = carpenter
	url = git@github.com:FAST-HEP/fasthep-carpenter.git
[submodule "fasthep-curator"]
	path = curator
	url = git@github.com:FAST-HEP/fasthep-curator.git
[submodule "fasthep-render"]
	path = render
	url = git@github.com:FAST-HEP/fasthep-render.git
[submodule "fasthep-cli"]
	path = cli
	url = git@github.com:FAST-HEP/fasthep-cli.git
[submodule "fasthep-toolbench"]
	path = toolbench
	url = git@github.com:FAST-HEP/fasthep-toolbench.git
[submodule "fast-hep.github.io"]
	path = main-docs
	url = git@github.com:FAST-HEP/fast-hep.github.io.git
[submodule "fasthep-workshop"]
	path = workshop
	url = git@github.com:FAST-HEP/fasthep-workshop.git
[submodule "logos-etc"]
	path = logos-etc
	url = git@github.com:FAST-HEP/logos-etc.git
[submodule "distributed"]
	path = distributed
	url = git@github.com:FAST-HEP/fasthep-distributed.git
